{% extends 'base.html' %}

{% block content %}
    <div class="container">
<div class="h1">Стоимость</div>
  <div class="row">
      <div class="col-8">
        <div><canvas id="chart1"></canvas></div>
      </div>
    <div class="col-4">
        <div class="h3">Выберите период</div>
        <form action="{% url 'metals_rate' %}" method="post">
            {% csrf_token %}
            <div class="grid gap-0 row-gap-3">
                <div class="p-2 g-col-6">
                    <label class="form-label">StartDate</label>
                    <input name="start_date" type="date" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="p-2 g-col-6">
                    <label class="form-label">EndDate</label>
                    <input name="end_date" type="date" class="form-control" id="exampleFormControlInput2">
                </div>
                <div class="p-2 g-col-6">
                    <select name="cod_met" class="form-select form-select-lg mb-3" aria-label="Large select example">
                      <option selected>{% if metal_name != 'null' %} {{ metal_name }} {% else %}Выбрать металл {% endif %}</option>
                      <option value="1">Золото</option>
                      <option value="2">Серебро</option>
                      <option value="3">Платина</option>
                    </select>
                </div>
                <div class="p-2 g-col-6">
                    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                </div>
            </div>
        </form>
    </div>
  </div>

<script>
let ctx1 = document.getElementById("chart1").getContext("2d");
let chart1 = new Chart(ctx1, {
  type: "line",
  data: {
     labels: [{% for dt in dates %}"{{ dt }}",{% endfor %}],
     datasets: [
        {
          label: "Стоимость металла",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: {{ rates }}
        }
     ]
  },
  options: {
     title: {
        text: "Ключевая ставка",
        display: true
     }
  }
});
</script>
    </div>
{% endblock %}